.grid-child {
    &--curved {
        @include b-radius-1;
        padding: 1rem;
    }
    &--white {
        @include b-radius-1;
        background-color: $white;
        padding: 3rem;
        grid-template-columns: 30rem;
        grid-template-rows: repeat(3, max-content);
        box-shadow: 2px 12px 18px #0000001A;
        align-self: stretch;
        justify-self: stretch;
        justify-content: center;
        align-content: stretch;
        font-size: 2rem;
        @include mq($bpMedium) {
            padding: 2rem;
            align-self: center;
            justify-self: center;
        }
    }
}

.grid__vertical {
    display: grid;
    grid-row-gap: 3rem;
    align-self: center;
}

.description-img {
    @include b-radius-1;
    width: 65%;
}

.card-holder-3 {
    grid-template-columns: repeat(3, minmax(23rem, 30rem));
    @include mq($bpMedium) {
        grid-template-columns: repeat(3, 85%);
    }
}