h1 {
    margin: 2rem 0;
    font-size: 4rem;
    color: $tertiary-color;
    @include mq($bpSmall) {
        padding: 0 1rem;
        font-size: 2.5rem!important;
    }
    @include mq-min($bpLarge) {
        font-size: 6rem;
    }
}

.two-color-title {
    color: #101010;
    font-size: 4rem;
    span {
        color: $heading-color;
    }
    @include mq($bpSmall) {
        font-size: 3.5rem;
        &:not(:first-child) {
            margin-top: 2rem;
        }
        @include mq-min($bpLarge) {
            font-size: 6rem;
        }
    }
}

.text-normal {
    font-size: 1.5rem;
}

.subheading {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.pink-title {
    color: $heading-color;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    @include mq($bpSmall) {
        margin-top: 2rem;
    }
    @include mq-min($bpLarge) {
        font-size: 6rem;
    }
}

.pink-text {
    color: $heading-color;
    display: block;
    font-style: normal;
    margin: 2rem 0;
    font-size: 2rem;
}

.strong-gray {
    display: block;
    color: $strong-gray;
    font-size: 2.5rem;
    margin-top: 1rem;
    @include mq($bpSmall) {
        font-size: 2rem;
    }
}

.strong-black {
    @extend .strong-gray;
    color: $strong-black;
    margin-bottom: 2rem;
}

.categorias__text-body {
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
    color: $text-color;
    &:not(:last-of-type) {
        margin-top: 2rem 0;
        @include mq($bpSmall) {
            text-align: justify;
            margin-top: 3rem;
            color: $white;
            font-size: 1.8rem;
        }
    }
    @include mq-min($bpLarge) {
        font-size: 3.5rem;
    }
}

.heading-text {
    color: $strong-black;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    &--bold {
        margin: 3rem 0;
        font-weight: bold;
        strong {
            color: $heading-color;
        }
    }
    @include mq($bpSmall) {
        text-align: justify;
        font-size: 1.8rem;
    }
    @include mq-min($bpLarge) {
        font-size: 2.2rem;
    }
}

.app-text {
    color: $app-text;
    font-size: 3.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    @include mq($bpSmall) {
        width: 100%;
    }
    @include mq-min($bpLarge) {
        font-size: 6rem;
    }
}

.app-title {
    @include mq-min($bpLarge) {
        font-size: 9rem;
    }
}

//page 2
.title-bg {
    color: $white;
    @include b-radius-1;
    &--pink {
        background-color: $primary-color;
        padding: 1rem 3rem;
    }
    &--blue {
        background-color: $tertiary-color;
        font-size: 3rem;
        text-transform: uppercase;
        padding: 2rem;
        @include mq($bpSmall) {
            padding: 1rem;
        }
    }
}

.blue-title {
    color: $tertiary-color;
    font-size: 2rem;
}